# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ===== GLOBAL =====
.vscode/
.DS_Store
Thumbs.db

# ===== ROOT NODE MODULES =====
node_modules/

# ===== FRONTEND =====Reminder APP-Adv Level in that my-app in that .vscode node_modules public src folders .gitignore package package-lock and readme fles in src folder Api Backend Frontend Folders App App App.test index index logo reportWebVitals and setupTests files and in api folder config file and in backend folder controllers middleware node_modules routes uploads folders .env db package package_lock server and socket files are there in frontend folder  assets dirctor employee manager managingdirector middleware pages styles superadmin utils folders are there and 
src/Frontend/node_modules/
src/Frontend/build/
src/Frontend/dist/
src/Frontend/.cache/

# ===== BACKEND =====
src/Backend/node_modules/
src/Backend/uploads/
src/Backend/package-lock.json

# ===== ENV FILES =====
.env
.env.*

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# ignoring .env files
**/.env
**/.env.*

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
